[package]
name = "axon"
version = "0.1.0"
authors = ["Nervos Dev <dev@nervos.org>"]
edition = "2021"
repository = "https://github.com/nervosnetwork/axon"

[dependencies]

byzantine = { path = "./byzantine" }
common-apm = { path = "./common/apm" }
common-config-parser = { path = "./common/config-parser" }
common-crypto = { path = "./common/crypto" }
common-logger = { path = "./common/logger" }
protocol = { path = "./protocol", package = "axon-protocol" }
core-api = { path = "./core/api" }
core-cli = { path = "./core/cli"}
core-consensus = { path = "./core/consensus" }
core-mempool = { path = "./core/mempool" }
core-network = { path = "./core/network" }
core-storage = { path = "./core/storage" }

[workspace]
members = [
    "devtools/keypair",

    "common/channel",
    "common/config-parser",
    "common/crypto",
    "common/logger",
    "common/merkle",
    "common/pubsub",

    "core/api",
    "core/cli",
    "core/consensus",
    "core/executor",
    "core/mempool",
    "core/network",
    "core/run",
    "core/storage",
    
    "protocol",

    "byzantine",
]

[features]
default = []
random_leader = ["core-consensus/random_leader"]
# tentacle_metrics = ["core-network/tentacle_metrics"]
