[package]
name = "core-api"
version = "0.1.0"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# async-graphql = { version = "3.0", features = ["tracing"] }
async-std = "1.10.0"
cita_trie = "3.0"
jsonrpsee = { version = "0.9", features = ["http-server", "macros", "ws-server"] }
log = "0.4"
parking_lot = "0.12"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
transient-hashmap = "0.4"

common-apm = { path = "../../common/apm" }
common-config-parser = { path = "../../common/config-parser" }
common-metrics-derive =  { path = "../../common/metrics-derive" }
core-consensus = { path = "../../core/consensus" }
core-executor = { path = "../../core/executor" }
protocol = { path = "../../protocol", package = "axon-protocol" }

[dev-dependencies]
fastrand = "1.7"
json = "0.12"
serde_json = "1.0"
